body{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  overflow:hidden;
  overscroll-behavior: none;
}

canvas {
  position: fixed; top: 0; left: 0; z-index: -1; 
}

img {
  padding: 5px;
}

.tooltip{
  width: 42px;
  height: 42px;
}

.tooltip ul{
  visibility: hidden;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: -10px;
  left: 50px;
}

.tooltip:hover ul {
  visibility: visible;
  color: white;
  opacity: 0.5;

}

input {
  background: transparent;
  border-color: grey;
  color: aliceblue;
  display: inline-block;
}

.contain-inputs {
  margin: 10px;
  padding: 2px;
  width: 15%;
  height: 35%;
  background-color: rgba(200, 200, 200, 0.2);

}

p {
  display: inline-block;
  color: aliceblue;
}

button {
  background-color: rgba(200, 200, 200, 0.2);
  color: aliceblue;
  border-radius: 10%;

}


.slider {
  -webkit-appearance: none;
  width: 75%;
  height: 10px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%; 
  background: rgb(66, 139, 199);
  cursor: pointer;
}
